<div class="footer">
    <p class="text-decoration-none">
      <strong><i class="fas fa-wine-glass pb-3"></i>&nbsp;&nbsp;Wine Rack</strong> by 
      <a class="text-decoration-none" href="https://github.com/cupcakesprinkle3">Michelle Brinich</a> - 
      <a class="text-decoration-none" href="">Evan Castillo</a> - 
      <a class="text-decoration-none" href="">Michael Chambers</a> | source code:
      <a class="text-decoration-none" href="https://github.com/cupcakesprinkle3/wine-o-210"><i class="fab fa-github"></i></a> 
    </p>
</div>