<div class="footer">
    <p class="text-decoration-none p-5">
      <strong>Wine-O-210</strong> by 
      <a class="text-decoration-none" href="https://github.com/cupcakesprinkle3">Michelle Brinich</a> - 
      <a class="text-decoration-none" href="https://github.com/evancastillo">Evan Castillo</a> - 
      <a class="text-decoration-none" href="https://github.com/thisEmcee">Michael Chambers</a> -
      <a class="text-decoration-none" href="https://github.com/cortelas">Michael Coffee</a>
    </p>
</div>