<div class="row justify-content-center">
  
    <div class="col-8">
        <!-- displaying articles -->
        {{> dashboard-cards wine}}
    </div>  

  <!-- displaying form and comments-->
  <!-- only display if logged in -->
  {{#if loggedIn}}
  <div class="">
    <div class="row justify-content-center">
      <div class="card col-8">
        <form class="reply-form">
          <div class="m-3 col">
            <textarea class="reply-body" name="reply-body"></textarea>
          </div>

          <div class="row justify-content-center">
            <button type="delete" class="btn-danger rounded m-3 col" id="delete-wine-btn">Delete Wine</button>
            <button type="button" class="vote-btn btn-secondary rounded m-3 col" id="vote-btn">Vote</button>
            <button type="submit" class="btn-primary rounded m-3 col">Add Comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/if}}

  <div class="row justify-content-center">
      <div class="card col-md-6 m-3">
          {{> reply wine.reply}}
      </div>
  </div>
</div>



{{#if loggedIn}}
    <script src="/javascript/reply.js"></script>
    <script src="/javascript/vote.js"></script>
    <script src="/javascript/delete-wine.js"></script>
{{/if}}