/* RESET? css framework? */

footer {
    text-align: center; 
    text-decoration: none;
    color: white;
    background-color: #352022;
}

.reply-body {
    height: 120px;
    width: 590px;
}

#wine-pic {
    width: 200px;
    height: 300px;
}
.dash-head {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
    background-color: #352022;
    color: white;
}

main {
    background-color: #3c191d;
    padding: 0 0 15px 0;
}

.darkmode--activated main {
    background-color: #07428C;
    padding: 0 0 15px 0;
  }

.darkmode--activated header {
    background-color:  #2b4469;
    padding: 0 0 15px 0;
  }

#winebg {
    background-color: #3c191d;
}