/* RESET? css framework? */

footer {
    text-align: center; 
    text-decoration: none;
}

.reply-body {
    height: 120px;
    width: 590px;
}

.dash-head {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #3c191d;
}

header {
    text-align: center;
}

main {
    background-color: #3c191d;
    padding: 0 0 15px 0;
}

.winebg {
    background-color: #3c191d;
}

.winetext {
    color: #3c191d;
}

.btn-primary {
    background-color: #3c191d;
}